<div class="form-container">
  <table class="styled-table">
      <thead>
          <tr>
              <th>Uczeń</th>
              <th>Oceny</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let student of students">
              <td>{{ student.firstName }} {{student.lastName}}</td>
              <td>
                <a
                  *ngFor="let g of student.grades"
                  (click)="getAditionalInformation(); grade = g">
                  {{ g.gradeValue }}
                </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>


<div *ngIf="aditionalInformation" class="modal">
    <div class="modal-content">
      <span class="close" (click)="aditionalInformation = false">&times;</span>
      <p><strong>Data:</strong> {{ grade?.dateOfIssue | date:'yyyy-MM-dd'}}</p>
      <p><strong>Kategoria:</strong> {{grade?.gradeWeight}}</p>
      <p><strong>Waga:</strong> {{grade?.gradeWeightValue}}</p>
    </div>
</div>
