<div class="subjects-panel" 
     cdkDropList 
     id="subjectsList" 
     [cdkDropListData]="subjects"
     [cdkDropListConnectedTo]="dayDropLists">
  <h3>Przedmioty</h3>
  <div *ngFor="let subject of subjects" class="subject-item" cdkDrag>
    {{ subject.name }}
  </div>
</div>

<div class="timetable">
  <table>
    <thead>
      <tr>
        <th>Godz.</th>
        <th *ngFor="let day of days">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hour of lessonHours">
        <td *ngFor="let day of days; let dayIndex = index">
            <div
                class="timetable-cell"
                cdkDropList
                [id]="'dropList-' + dayIndex + '-' + hour.lessonNumber"
                [cdkDropListConnectedTo]="['subjectsList']"
                [cdkDropListData]="[]"
                (cdkDropListDropped)="drop($event, dayIndex, hour.lessonNumber)">
                {{ getSubjectName(dayIndex, hour.lessonNumber) }}
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
