<div class="form-container">
  <div class="subjects-panel" cdkDropList id="subjectsList" [cdkDropListData]="subjects"
       [cdkDropListConnectedTo]="dayDropLists">
    <h3>Przedmioty</h3>
    <div *ngFor="let subject of subjects" class="subject-item" cdkDrag>
      {{ subject.name }} - {{ getInitials(subject) }}
    </div>
  </div>

  <form class="timetable-form">
    <div class="group-select">
      <select [(ngModel)]="selectedGroupId" name="groupSelect" (ngModelChange)="onGroupChange()">
        <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
      </select>
      <p>Wybrana grupa: {{ selectedGroupId }}</p>
    </div>

    <table class="timetable-table">
      <thead>
        <tr>
          <th>Godz.</th>
          <th *ngFor="let day of days">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of lessonHours; let i = index">
          <td>{{ hour.startTime }} - {{ hour.endTime }}</td>
          <td *ngFor="let day of days; let dayIndex = index">
            <div class="timetable-cell" cdkDropList 
                 [id]="'dropList-' + dayIndex + '-' + hour.lessonNumber"
                 [cdkDropListConnectedTo]="['subjectsList']" 
                 [cdkDropListData]="[]"
                 (cdkDropListDropped)="drop($event, dayIndex, hour.lessonNumber)">
              {{ getSubjectName(dayIndex, hour.lessonNumber) }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <button type="button" class="save-btn" (click)="saveSchedule()">Zapisz plan</button>
  </form>
</div>
