<div class="form-container">
    <table>
        <thead>
            <tr>
                <th>Godzina</th>
                <th *ngFor="let day of days">{{ day }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of scheduleTable; let i = index">
                <td>{{ lessonHours[i].startTime }} - {{ lessonHours[i].endTime }}</td>
                <td *ngFor="let cell of row">
                    <div *ngIf="role !== 'Parent'">
                        <div *ngFor="let entry of cell">
                            <strong>{{entry.subjectName}}</strong><br>
                            {{entry.groupName}}<br>
                            <span *ngIf="role === 'Parent'">Uczeń: {{entry.studentName}}</span>
                            <span *ngIf="role !== 'Teacher'">Nauczyciel: {{getTeacherNameInitials(entry.teacherName ?? '')}}</span>
                        </div>
                    </div>
                    <div class="entries" *ngIf="role === 'Parent'">
                        <div *ngFor="let entry of cell">
                            <strong>{{entry.subjectName}}</strong><br>
                            {{entry.groupName}}<br>
                            <span>Uczeń: {{entry.studentName}}</span><br>
                            <span>Nauczyciel: {{getTeacherNameInitials(entry.teacherName ?? '')}}</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="legend">
        
    </div>
</div>