<div class="form-container">
    <table>
        <thead>
            <tr>
                <th>Godzina</th>
                <th *ngFor="let day of days">{{ day }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of scheduleTable; let i = index">
                <td>{{ lessonHours[i].startTime }} - {{ lessonHours[i].endTime }}</td>
                <td *ngFor="let cell of row">
                    <span *ngIf="cell">
                        <a>{{cell.subjectName}}</a><br>
                        <a>{{cell.groupName}}</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>